body {
	font-family: arial;
}

form li {
	list-style: none;
	margin-bottom: 20px;
}

form ul {
	padding-left: 0;
}
label {

	display: block;
	/*font-family: Arial;*/
	padding-bottom: 6px;
	cursor: pointer;
}

textarea {
	width: 400px;
	height: 200px;
}

span.form_required {
	color: red;
}

ul.navbar li {
	display: inline;
}

ul a {
	text-decoration: none;
	padding-right: 15px;
	color: #399CAF;
}

ul.navbar a:hover {
	text-decoration: underline;
	color: grey;
}