body {
background: url("/2ndschoolSite/images/bg.png") no-repeat scroll 0 0 #FFFFFF;
}

h1 {
color: #333333;
font: 14px/1.5.em Arial;
}

h2 {
	margin: 0px auto;
}



#tabs {
	float: center;
	width: 1000px;
	align: justify;
	height: 90px;
	margin: 0 auto;
	padding: 0;
}

#tabs ul {
	align: justify;	
	<!--float: right;-->
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#tabs li {
	float: left;
}

#tabs a {
	display: block;
	margin-right: 1px;
	padding: 10px 0px 15px 30px;
	text-decoration: none;
	text-transform: lowercase;
	text-align: center;
	font-size: 20px;
	font-weight: 300;
	color: #0000FF;
	
}

#tabs a:hover {
	text-decoration: none;
	color: black;
}
div.entry {
	width: 50%;
	padding-left: 25%;
	padding-right: 25%;
}
.entry img {
	float: left;
	margin: 0px 5px 10px 5px;
}
/* Begin of the style just for People.html */
div.people {
 	width: 70%;
        margin: auto;
}

div.people a{
text-decoration: none;
color: black;
}


div.people ul {
list-style: none;
}
div.people ul li {
float: left;
height: 20px;
margin-right: 20px;
cursor: pointer;
position: relative;
z-index: 1;
padding: 0 5px;
}
div.people ul li ul {
display: none; 
position: absolute; 
left: 0;
top: 20px; 
margin: 0;
width: 300px;
background: #fff;
border: 1px solid #000;
}
div.people ul li ul li {
float: none;
display: block;
background: none;
border-bottom: 1px solid #CCC;
}
div.people ul li:hover ul {
display: block;
}

div.people table {
margin-left: 20%;
margin-top: 5%;
}
div.people td {
height: 200px; 
width: 500px;
}
div.people img {
float:left;
margin: 7px 7px 7px 0;
height: 174px; 
width: 143px;
}

/* End of the style just for People.html */

div.footer {
        width: auto;
        height: 15px;
        background-color:#CCFFFF;  
        position: absolute; 
        bottom: 0px;
}

