body {
background: url("/2ndschoolSite/images/bg.png") no-repeat scroll 0 0 #FFFFFF;
}

h1 {
color: #333333;
font: 14px/1.5.em Arial;
}

h2, h3 {

}



#tabs {
	float: center;
	width: 1000px;
	align: justify;
	height: 90px;
	margin: 0 auto;
	padding: 0;
}

#tabs ul {
	align: justify;	
	<!--float: right;-->
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#tabs li {
	float: left;
}

#tabs a {
	display: block;
	margin-right: 1px;
	padding: 10px 0px 15px 30px;
	text-decoration: none;
	text-transform: lowercase;
	text-align: center;
	font-size: 20px;
	font-weight: 300;
	color: #0000FF;
	
}

#tabs a:hover {
	text-decoration: none;
	color: #FFFF00;
}





